.userCard {}

.notSelectedValue{
    background-color: #e3e3e3;
    color: #595959;
    border: 3px solid #b1b1b1;  
}

.selectedValue{
    background-color: #3fc59d;
    color: white;
    border: 3px solid #006647; 
}